mixin sFamiliar(data)
	// start sFamiliar
	+b.SECTION.sFamiliar.section#sFamiliar&attributes(attributes)
		.container
			+b.section-title
				h2 Знакомо?
			+e.top
				.row
					mixin item-sm(i, p)
						+e.col.col-sm-6.col-lg-4.col-xl-auto
							+e.item--sm
								+e.img-wrap.bg-wrap
									img.res-i(src=`img/@2x/ourTeam-${i}.png`, alt="")
								p!= p
					+item-sm(1, `Много обращений, но мало продаж?`)
					+item-sm(2, `Не выделяетесь среди множества других сайтов?`)
					+item-sm(3, `Сайт не приносит деньги?`)
					+item-sm(4, `У конкурентов сайт круче, чем ваш?`)
					+item-sm(1, `Сайт не отражает ваши преимущества?`)
					+item-sm(2, `Не знаете, как продвигать свой бизнес?`)

			+e.bottom
				.row
					mixin item-lg(i, t, r)
						+e.col.col-12&attributes(attributes)
							+e.item--lg
								+e.img-wrap.bg-wrap(style=`--bd-radius: ${r}`)
									img.res-i(src=`img/@2x/ourTeam-${i}.png`, alt="")
								h6!= t
								p В среднем, это 14-20 рабочих дней для лендинга или #[a(href='#') одностраничных сайтов], 5-7 недель для корпоративных сайтов.
					+item-lg(1, `У конкурентов сайт круче, чем ваш?`, `50%`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(2, `У конкурентов сайт круче, чем ваш?`, `50%`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(3, `У конкурентов сайт круче, чем ваш?`, `50%`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(4, `У конкурентов сайт круче, чем ваш?`, `50%`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(1, `У конкурентов сайт круче, чем ваш?`, `50%`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(1, `У конкурентов сайт круче, чем ваш?`, `50%`).col-sm-6.col-lg-4.col-xl-3.col-xxl
			+e.bottom
				.row
					+item-lg(1, `У конкурентов сайт круче, чем ваш?`, `8px`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(2, `У конкурентов сайт круче, чем ваш?`, `8px`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(3, `У конкурентов сайт круче, чем ваш?`, `8px`).col-sm-6.col-lg-4.col-xl-3.col-xxl
					+item-lg(4, `У конкурентов сайт круче, чем ваш?`, `8px`).col-sm-6.col-lg-4.col-xl-3.col-xxl
				
	// end sFamiliar
